<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sketch</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='static_style.css') }}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.js"></script>
  </head>

  <body>
    <div id="p5-canvas">
      <script src="{{ url_for('static',filename='static_sketch.js') }}"></script> 
    </div>
    <div id="id-card">
      <h1>Frida Kahlo's Self Portrait</h1>
      <h3>Created with Machine Learning generated Talavera tiles</h3>
      <br>
      <h3>Tile gallery</h2>
      <p>Trained on 997 images of Talavera tile images using StyleGAN2</p>
      <div class="tile-gallery">
        <div class="tile-id">
          <img class="tile-img" src="{{ url_for('send_talavera', path='talavera/indexed_images/tile_30.jpg') }}">
          <p>173, 153, 91</p>
          <p>October 23rd, 2020.</p>
        </div>
        <div class="tile-id">
          <img class="tile-img" src="{{ url_for('send_talavera', path='talavera/indexed_images/tile_21.jpg') }}">
          <p>91, 77, 96</p>
          <p>October 23rd, 2020.</p>
        </div>
        <div class="tile-id">
          <img class="tile-img" src="{{ url_for('send_talavera', path='talavera/indexed_images/tile_20.jpg') }}">
          <p>132, 119, 96</p>
          <p>October 23rd, 2020.</p>
        </div>
        <div class="tile-id">
          <img class="tile-img" src="{{ url_for('send_talavera', path='talavera/indexed_images/tile_15.jpg') }}">
          <p>134, 127, 68</p>
          <p>October 23rd, 2020.</p>
        </div>
        <div class="tile-id">
          <img class="tile-img" src="{{ url_for('send_talavera', path='talavera/indexed_images/tile_10.jpg') }}">
          <p>111, 103, 102</p>
          <p>October 23rd, 2020.</p>
        </div>
        <div class="tile-id">
          <img class="tile-img" src="{{ url_for('send_talavera', path='talavera/indexed_images/tile_5.jpg') }}">
          <p>101, 105, 118</p>
          <p>October 23rd, 2020.</p>
        </div>
      <div>
    </div>
  </body>
</html>
